.graphs-wrapper {
    font-size: 0.6em !important; 
    margin-top: 2em !important;
    .reference {
        text-align: left;
	    padding-top: 1em;
	    font-style: italic;
    }
}

/* Bar Graphs */
.bargraphs h1 {
    color: #000;
}

.bargraphs p {
    clear: both;
    padding-top: 10px;
    font-size: 8pt;
    color: #666;
}

.bar {
    clear: left;
    width:100%;
	div.value {
	    float: left;
	    background-color: #000;
	    color: #fff;
	    padding: 2px 4px;
	    margin-top: 8px;
	}
	div.lab {
	    padding: 8px 16px 16px 0 !important;
        width: 26%;
	    float: left;
	    font-style: italic;
	    font-family: arial;
	    text-align: right;
	}
}

.bar1, .bar2, .bar3, .bar4, .bar5 {
    float: left;
    padding: 16px 0 16px 8px !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin: -8px 0 0 0 !important;
}
.bar1 {
    background-color: #e61010;
}
.bar2 {
    background-color: #f6ac43;  
}
.bar3 {
    background-color: #fef34b;  
}
.bar4 {
    background-color: #c6e628;  
}
.bar5 {
    background-color: #0066cc;
}

/* End Globalstats */