
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* https://davidwalsh.name/background-animation-css */
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
