@import "theme/template/mixins";
@import "keyframes";
@import "graphs";
@import "sections";
@import "components";

.reveal 
{
    transition: 1s;
    span.glyphicon {
        font-family: 'Glyphicons Halflings';
        position: absolute;
    	right: 0;
    	&.glyphicon-question-sign {
    		cursor: pointer;
    	}
    	&.point-help-icon {
		    right: 45px;
    	}
    }
    h1,
	h2 
	{
	    font-family: 'Titillium Web', Verdana;
        text-decoration: inherit;
	}
	h3 {
	    letter-spacing: .04em;
	}
	section 
	{
		img 
		{
		    border: 0;
		    box-shadow: none;
		    background: none;
		}
	}
} 

