
/* Backgrounds */
.animated-clouds .reveal 
{ 
    transition: 0s;
	background-image: url(../img/bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
    background-color: #C0DFED;
}

.html-sky .reveal {
	@include radial-gradient( #FFCDD2, #FFEBEE );
}
.css-sky .reveal {
	@include radial-gradient( #BBDEFB, #E3F2FD );
}
.dom-sky .reveal {
	@include radial-gradient( #B2DFDB, #E0F2F1 );
}
.js-sky .reveal {
	@include radial-gradient( #FFF9C4, #FFFDE7 );
}
.start-bg .reveal {
	background-color: #B6E3DE;
}


section {
	&[data-state=animated-clouds] h2 {
	    text-transform: inherit;
	    font-weight: bold;
	    color: #367693;
	    letter-spacing: 0em;
	}
	.hello {
	    background: rgba(0,0,0,.5);
	    padding: 2em 3em;
	    font-size: .8em;
	    border-radius: 1%;
		color: white;
	    text-shadow: 1px 1px 7px black;
	    .name {
	        font-weight: bold;
			font-size: 1.5em;
	    }
	    p {
	    	font-size: .9em;
	    }
	    &.col-sm-offset-4 {
    	    margin-left: 33.33333333% !important;
	    }
	}
}


/* Icons */
.html-icon, .css-icon, .js-icon {
	width: 25%;
}
.dom-icon, .html5-css3-js-icon, .tendencias-icon {
	width: 45%;
}
.html5-css3-js-icon {
	width: 60%;
}
.html-w3c-icon, .css-w3c-icon, .dom-w3c-icon {
	position:absolute;
    width: 20%;

}
.js-ecma-span {
	position: absolute;
	font-family: serif !important;
}
.html-icon, .html-w3c-icon,
.css-icon, .css-w3c-icon,
.dom-icon, .dom-w3c-icon,
.js-icon, .js-ecma-span {
	display: inline-block;
}
.css3-icon, .html5-icon {
    position: absolute;
    z-index: -1;
    width: 10%;
    top: -5%;
    opacity: .3;
    margin-top: 0 !important;
    margin-left: -1.3em !important;
}
.personas-icon {
    max-height: 30% !important;
}


.twitter { background: url(../img/social/social-tw.png) 0 0 no-repeat; }
.linkedin { background: url(../img/social/social-linkedin.png) 0 0 no-repeat; }
.develagora { background: url(../img/social/develagora.png) 0 0 no-repeat; }
.reveal {
	.twitter, .linkedin, .develagora {
	    display: inline-block;
	    width: 48px;
	    height: 48px;
	    margin-left: 5px;
	    text-decoration: none;
	    &:hover {
	    	text-decoration: none;
	    }
	}
}
/* Iframes */
.css-zen-iframe {
	width: 100%;
	height: 14em;
}

.slide-background iframe[src="tendencias/backend.html"],
.slide-background iframe[src="tendencias/frontend.html"],
.slide-background iframe[src="tendencias/lenguajes.html"],
.slide-background iframe[src="tendencias/movil.html"] {
    position: relative;
	top: 50%;
	transform: translateY(-20%);
}

.iframe-background-content {
	top: inherit !important;
}

/* Preview Code */

.reveal {
	.html-preview-row {
		width: 150%;
	    margin-left: -25%;
        position: relative;
        h4 {
            text-decoration: underline;
        }
	}
	pre.html-preview-code {
	    min-height: 15em;
        background: #3f3f3f;
	}
	.html-preview-container-column {
	    max-height: 100%;
	    overflow-y: auto;
	    pos: a;
	    position: absolute;
	    right: 0;
	    @media screen and (max-width: 992px) {
	    	position: relative;
	    }
	}
	.html-preview-container {
		font-family: initial;
	    font-size: 0.6em;
	    h1 {
	        font-size: 2.6em;
	    }
	}
	.html5-news-content {
	    font-size: .8em;
	}
	.code-wrapper.col-xs-offset-1 {
	    margin-left: 8.33333333%;
	}
}
@media (max-width : 900px) {
	.reveal {
		.html-preview-row {
			width: 100%;
			margin-left: inherit;
		}
		pre.html-preview-code {
		    min-height: 8em;
			code {
				max-height: 5em;
			}
		}
	}
}